body{
    font-family: 'Alegreya Sans SC', serif;
    background-color:#f1f1f1;
    background-image: url('/images/concrete_seamless.png');
    display: flex;
    flex-direction: column;
}
a, a:visited {
    color: blue;
}

header img{
    width: 500px;
        /* animation 參數設定 */
        animation-name: logomove;    /*動畫名稱，需與 keyframe 名稱對應*/
        animation-duration: 5s;    /*動畫持續時間，單位為秒*/
        /*animation-delay: 0s;    動畫延遲開始時間*/
        animation-iteration-count: 1;    /*動畫次數，infinite 為無限次*/  
}

/* 關鍵影格(@keyframe) */
@keyframes logomove {
    from{
        top:-100;
        width:50px;
        opacity: 0;
    }
    to{
        top: 0;
        width: 425px;
        opacity: 1;
    }
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav_links{
    display: flex;
    flex-direction: column;
}

.card header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0 0;
}

.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card{
    flex-basis: 450px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;


}











/* desktop styles starts*/
@media screen and (min-width:850px) { 
    header{
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    .nav_links{
        flex-direction: row;
    }
    .pricing{
        flex-direction: row;
    }
    .card{
        flex-basis: 250px;
    }



  }
/* desktop styles ends*/




/* print styles sarts*/
/*@media print*/
@media screen and (min-width:900px){
    body{
        background-image: none;
        color: red;
    }
    nav{
        min-width: 1200px;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .gallery{
        display: none;
    }
    .card{
        flex-basis: 250px;
        border: solid 2px #45ADDD;
    }
    .pricing{
        align-items: flex-end;
        justify-items: flex-end;
        align-content: flex-end;
    }

    #gallery{
        display: none;
    }


}
/* print styles ends*/




/* prefers-reduced-motion*/
@media (prefers-reduced-motion) {
    header img {
      animation: none;
    }
    
  }